<div class="products">
  <div>Email: AAA</div>
  <div>Tel: 0999999999</div>
  <div>Address: BBBBB</div>
  <table class="table table-bordered">
    <tr>
      <th>Title</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Image</th>
    </tr>
    <tr>
      <td>AAA</td>
      <td>BBB</td>
      <td>CCC</td>
      <td><img width="70px" src="/upload/abc.jpg"></td>
    </tr>
    <tr>
      <td>AAA</td>
      <td>BBB</td>
      <td>CCC</td>
      <td><img width="70px" src="/upload/abc.jpg"></td>
    </tr>
    <tr>
      <td>AAA</td>
      <td>BBB</td>
      <td>CCC</td>
      <td><img width="70px" src="/upload/abc.jpg"></td>
    </tr>
  </table>
</div>